{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h1>Edit an entry</h1>

     <form action="{% url 'edit' %}" method="post">
         {% csrf_token %}
         <h2>{{ name }}</h2>
         <div class="form-group">
            <label for="entry_content">Entry content</label>
            <textarea class="form-control" id="entry_content" name="entry_content" rows="3">{{ content }}</textarea>
             <input type="hidden" value="{{ name }}" name="entry">
         </div>
         <input class="button" type="submit">
     </form>

{% endblock %}